repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
    - id: mypy
      exclude: ^sleepecg/test/|^examples
      args: [--python-version=3.9]
      additional_dependencies:
      - types-PyYAML
      - types-requests
      - types-urllib3
