graft .github
graft doc
graft examples
graft sleepecg
global-exclude *.so
global-exclude .DS_Store
prune **/__pycache__
include .gitignore
include .pre-commit-config.yaml
include CHANGELOG.md
include CONTRIBUTING.md
include readthedocs.yml
