[build-system]
requires = ["setuptools", "wheel", "numpy"]


[tool.cibuildwheel]
test-requires = 'pytest'
test-extras = 'full'
test-command = 'pytest {package}'
skip = 'pp* cp310-* *musllinux*'


[tool.cibuildwheel.linux]
manylinux-x86_64-image = 'manylinux2014'
archs = 'x86_64'


[tool.cibuildwheel.windows]
archs = 'AMD64'


[tool.cibuildwheel.macos]
archs = 'x86_64 arm64'
