[build-system]
requires = ['setuptools', 'wheel', 'oldest-supported-numpy']

[tool.black]
line-length = 92

[tool.cibuildwheel]
test-requires = 'pytest'
test-extras = 'cibw'
test-command = 'pytest {package}'
skip = 'pp* *musllinux*'

[tool.cibuildwheel.linux]
manylinux-x86_64-image = 'manylinux2014'
archs = 'x86_64'

[tool.cibuildwheel.macos]
archs = 'x86_64 arm64'

[tool.cibuildwheel.windows]
archs = 'AMD64'

[tool.mypy]
packages = ['sleepecg']
exclude = '^sleepecg/test/'
ignore_missing_imports = true
disallow_untyped_defs = true
warn_unreachable = true
strict_equality = true
pretty = true

[tool.pydocstyle]
convention = 'numpy'
add_ignore = 'D105'  # missing docstring in magic method

[tool.pytest.ini_options]
markers = ['c_extension']
